version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak-fido2
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_PROXY: edge
      KC_HTTP_RELATIVE_PATH: /
    ports:
      - "8080:8080"
    command:
      - start-dev
      - --features=preview
    volumes:
      - keycloak_data:/opt/keycloak/data

volumes:
  keycloak_data:
